body {
  background-color: #303030;
  font-family: "Montserrat", sans-serif, Medium;
  color: white;
  margin-left: 10vw;
}
a {
  text-decoration: none;
  color: white;
}

h1 {
  font-weight: 600;
  font-size: 32px;
}
#uber {
  margin-bottom: -20px;
  margin-top: 250px;
  font-weight: 700;
  font-size: 48px;
  text-align: center;
}
/*à corriger*/
.headboutton {
  font-size: 16px;
}
.headbouttonbold {
  font-weight: 700;
  font-size: 18px;
}
.headbouttonsemibold {
  font-weight: 600;
  font-size: 18px;
  padding-inline: 13px;
  padding-block: 4px;
  background-color: #ffa000;
  border-radius: 6px;
}
/*fin de à corriger*/

/*---------------1er bloc---------------*/
#Green {
  background-color: #4caf50;
  padding-inline: 14px;
  padding-block: 10px;
  display: inline-block;
  border-radius: 6px;
}

#Orange {
  outline: solid #ffa000;
  padding-inline: 14px;
  padding-block: 4px;
  display: inline-block;
  border-radius: 6px;
}

h2 {
  font-weight: 500;
  font-size: 24px;
}

.menu {
  font-weight: 600;
  font-size: 18px;
}

li {
  list-style: none;
  display: inline-block;
}

#menucolor {
  color: #c8e6c9;
}

.boutton1 {
  font-weight: 700;
  font-size: 28px;
}
/*-------------------2e bloc--------------------*/
.boutton1_orange {
  color: #ffa000;
}
.fifthbloc {
  color: #c8e6c9;
  text-align: center;
}

#Orange2 {
  background-color: #ffa000;
  border-radius: 6px;
  display: flex;
  text-align: center;
  justify-content: center;
  margin-left: 78vh;
  padding-inline: 20px;
  padding-block: 10px;
  max-width: 20vh;
}

footer {
  background-image: url(svg/Deco2.svg);
  margin-left: -10vw;
}

.Four_bloc {
  text-align: center;
  justify-content: center;
}

.FeatureOneTwo {
  display: flex;
  max-width: 80vw;
  text-align: end;
  align-items: center;
}
.FeatureOneTwoone {
  max-width: 80vw;
  text-align: start;
}

#BS {
  border-radius: 20px;
  background-color: #424242;
  padding-inline: 4rem;
  border: 1px solid #4caf50;
  text-align: start;
  margin-right: 100px;
}

#BS_Vert {
  color: #c8e6c9;
}

h4 {
  font-weight: 400;
}

#FPQ {
  display: flex;
  text-align: start;
  margin-top: 250px;
}

#VM_Lien {
  color: #ff6f00;
}
